<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chi tiết thành viên</title>
</head>
<body>
<h1>Thông tin thành viên</h1>
<ul>
    <li th:each="member : ${members}">
        <a th:href="@{'/members/' + ${member.name}}"
           style="color: white; text-decoration: none; display: flex; align-items: center;">
            <i class="fas fa-user"></i>
            <span th:text="${member.name} + ' (' + ${member.role} + ')'"></span>
        </a>
    </li>
</ul>
<a href="/members">Quay lại danh sách</a>
</body>
</html>